{% extends create == 'true' ? 'BookBundle:Default:create.html.twig' : 'BookBundle:Default:update.html.twig' %}

{% if create == 'false' %}
    {% block book_id %}{{ book.id }}{% endblock %}
{% endif %}

{% block form %}

    {{ form_start(form) }}

        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_row(form.title, { 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="form-group">
            {{ form_row(form.description, { 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>
        {{ form_row(form.save, { 'attr': {'class': 'btn btn-success'}}) }}

    {{ form_end(form) }}

{% endblock %}